.head{
    display: grid;
    grid-template-columns: repeat(auto-fit,1fr);
    padding: 1.8rem;
    background-color: rgb(6, 17, 41);
    color: white;
}
@media (min-width:600px) {
    .head{
        grid-template-columns: repeat(2,1fr);
    }
    .left_head{
        padding: 20px;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    
.right_head{
    grid-column-start: 3;
    grid-column-end: 4;
}
    
}

@media (max-width:600px) {
    .left_head p span{
        display: none;
    }
}
.left_head{
    padding: 20px;
    margin-top: 2rem;
}
.left_head h{
    font-size: 38px;
    font-weight: 600;
}
.left_head p{
    font-size: 18px;
    line-height: 1.4;
    margin-left: 10px;
    margin-top: 25px;
}
.left_head h span{
    color: rgb(247, 73, 102);
}
.view{
    padding: 12px 20px;
    margin-top: 10px;
    border-radius: 20px;
    border:1px solid black;
    font-size: 15px;
    cursor: pointer;
}
.view:hover{
    background-color:pink;
    transition-duration: 0.6s;
    color: rgb(255, 255, 255);
}
.right_head{
    padding: 20px;
}
.right_head img{
    width: 26rem;
}
@media (max-width:600px) {
    .right_head img{
        width: 20rem;
    }
}
@media (max-width:400px) {
    .right_head img{
        width: 18rem;
    }
}

.why{
    padding: 2rem;
    margin-top: 3.5rem;
    text-align: center;
}
.why h{
    color: rgb(252, 98, 150);
    font-size: 35px;
    font-weight: 600;
}
.why p{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 15px;
    color: #3d3b3b;
    line-height: 1.5;
    margin-top: 12px;
}
@media (max-width:600px){
    .why span{
        display: none;
    }
    .inner span{
        display: none;
    }
    .service span{
        display: none;
    }
}
.why h1{
    color:rgb(9, 3, 94);
    font-weight: 500;
    font-size: 30px;
    margin-top: 1.8rem;
    margin-bottom: 13px;
}
.inner img{
    width: 6.4rem;
    border-radius: 50%;
    height: 6.1rem;
}

.box{
    display: grid;
    margin-top: 3.5rem;
    grid-template-columns: repeat(auto-fit,1fr);
    row-gap: 18px;
}
@media (min-width:560px) {
    .box{
        grid-template-columns: repeat(3,1fr);
    }
}
.inner{
    padding: 20px;
    text-align: center;
    background:rgba(255, 248, 251, 0.815);
    transition: .5s ease-out;
    padding-bottom: 2rem;
    padding-top: 1.4rem;
}
.inner-box:nth-child(2){
    background:pink;
}

.icon{
    height: 2vh;
    font-size: 90px;
    padding: 12px;
    color: rgb(247, 60, 147);
}
.inner-box p1{
    font-size: 17px;
    color: black;
    line-height: 1.5;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 15px;
}
.inner-box,.inner-box:nth-child(2){
    background-image: 
    linear-gradient(to top, rgb(8, 216, 253) 50%, transparent 50%),
    linear-gradient(to top, rgb(248, 252, 5) 50%, transparent 50%);
  
  -webkit-background-clip: text,padding-box;
  background-clip: text,padding-box;
  background-size: 100% 200%;
  background-position: top;
  transition: background-position 0.4s ease-in-out;
}
@media (max-width:600px){
    .inner,.inner-box{
        border-radius: 20px;
    }
}
.inner-box:hover{
    background-position: bottom;
}
.inner:hover{
    color: white;
}




