
.navbar{
    color:black;
    list-style-type:none;
    background-color:transparent;
    backdrop-filter: blur(4px);
    /* position: fixed; */
    margin-left: 72%;
}
.navbar li{
    padding:5px 15px;
    display: inline-flex;
    cursor: pointer;
}
.navbar li:hover{
    padding-bottom: 4px;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right,blue,purple, red) 1;
}
@media(min-width:1284px){
    .bar{
        display: none;
    }
}
@media(max-width:1284px){
    .navbar li{
        display: none;
    }
    .bar{
        float: right;
        font-size: 30px;
        padding: 8px;
        margin-top: -14px;
        color: rgb(233, 42, 122);
    }
}

